<article
class="elementor-post elementor-grid-item post-10897 post type-post status-publish format-standard has-post-thumbnail hentry category-how-to-guides">
   
        <a class="elementor-post__thumbnail__link" href="{{ .RelPermalink }}">
            <div class="elementor-post__thumbnail elementor-fit-height">
                <img width="300" height="157" src="{{.Params.featured_image}}" class="attachment-medium size-medium"
                    alt="{{.Params.imageAlt}}" loading="lazy">
            </div>
        </a>
        <div class="elementor-post__text">
            <h3 class="elementor-post__title">
                <a href="{{ .RelPermalink }}">
                    {{.Title}}</a>
            </h3>
            
        </div>
  
</article>
