{{$category := .Scratch.Get "category"}}
<div class="elementor-element elementor-element-cf63280 elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu"
    data-id="cf63280" data-element_type="widget"
    data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}"
    data-widget_type="nav-menu.default">
    <div class="elementor-widget-container">
        <nav migration_allowed="1" migrated="0" role="navigation"
            class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
            <ul id="menu-1-cf63280" class="elementor-nav-menu" data-smartmenus-id="16850018640445723">
                <li
                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-147 current_page_item menu-item-10023">
                <a href="/academy/" aria-current="page"
                    class="elementor-item {{if eq $category nil}}elementor-item-active{{end}}">All</a>
                </li>
                
                {{ range (sort (where (where .Site.Pages "Section" .Section) "Params.academy" true) "Title" "asc") }}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10024">
                        <a href="{{.RelPermalink}}"  
                        class="elementor-item {{ if eq .Title $category}}elementor-item-active{{end}}">{{ replace .Title "Academy - " "" | humanize }}</a>
                        </li>
                {{ end }}
            </ul>
        </nav>
        <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
            <i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i
                aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i> <span
                class="elementor-screen-only">Menu</span>
        </div>
        <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
            <ul id="menu-2-cf63280" class="elementor-nav-menu" data-smartmenus-id="1685001864047952">
                <li
                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-147 current_page_item menu-item-10023">
                    <a href="/academy/" aria-current="page"
                        class="elementor-item {{if eq $category nil}}elementor-item-active{{end}}"
                        tabindex="-1">All</a>
                </li>
                {{ range where (where .Site.Pages "Section" .Section) "Params.academy" true }}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10024">
                    <a href="{{.RelPermalink}}"  class="elementor-item {{ if eq .Title $category}}elementor-item-active{{end}}" tabindex="-1">{{ replace .Title "Academy - " "" | humanize }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>