{{$tag := (cond .IsNamedParams (.Get "tagName") (.Get 0) )}}
<{{$tag}}
 {{with .Get "id" }}
    id="{{ . }}"
 {{ end }}
 {{with .Get "class" }}
    class="{{ . }}"
 {{ end }}
 {{with .Get "src" }}
    src="{{ . }}"
 {{ end }}
 {{with .Get "width" }}
    width="{{ . }}"
 {{ end }}
 {{with .Get "height" }}
    height="{{ . }}"
 {{ end }}
 {{with .Get "scrolling" }}
    scrolling="{{ . }}"
 {{ end }}
 {{with .Get "frameborder" }}
    frameborder="{{ . }}"
 {{ end }}
 {{with .Get "name" }}
    name="{{ . }}"
 {{ end }}
 {{with .Get "allowfullscreen" }}
    allowfullscreen="{{ . }}"
 {{ end }}
 {{with .Get "loading" }}
    loading="{{ . }}"
 {{ end }}
>
{{with .Inner}}
 {{.}}
{{end}}
</{{$tag}}>