<div class="premium-blog-post-outer-container" data-total="1">
    <div
        class="premium-blog-post-container premium-blog-skin-classic">
        <div class="premium-blog-thumb-effect-wrapper">
            <div
                class="premium-blog-thumbnail-container premium-blog-gray-effect">
                <img width="2402" height="1346"
                    src="{{.Params.featured_image}}"
                    class="attachment-full size-full"
                    alt="{{.Params.imageAlt}}" loading="lazy">
            </div>
            <div class="premium-blog-thumbnail-overlay">
                <a class="elementor-icon"
                    href="{{ .RelPermalink }}"
                    target="_blank"></a>
            </div>
        </div>
        <div class="premium-blog-content-wrapper ">
            <div class="premium-blog-content-wrapper-inner">
                <div class="premium-blog-inner-container">
                    <div class="premium-blog-entry-container">
                        <h2 class="premium-blog-entry-title">
                            <a href="{{ .RelPermalink }}"
                                target="_blank">
                                {{.Title}}</a>
                        </h2>
                        <div class="premium-blog-entry-meta">



                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>