<div
  data-elementor-type="footer"
  data-elementor-id="156"
  class="elementor elementor-156 elementor-location-footer"
  data-elementor-settings="[]"
>
  <div class="elementor-section-wrap">
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-147590c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="147590c"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8a2240f"
            data-id="8a2240f"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-d97c37b elementor-widget elementor-widget-spacer"
                  data-id="d97c37b"
                  data-element_type="widget"
                  data-widget_type="spacer.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-spacer">
                      <div class="elementor-spacer-inner"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-9701ab4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="9701ab4"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74329f9"
            data-id="74329f9"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <section
                  class="elementor-section elementor-inner-section elementor-element elementor-element-be625eb elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default"
                  data-id="be625eb"
                  data-element_type="section"
                >
                  <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f66f0e7"
                        data-id="f66f0e7"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-30781af elementor-widget elementor-widget-image"
                              data-id="30781af"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <img
                                    width="310"
                                    height="310"
                                    src="/wp-content/uploads/2020/06/pbxdom000.png"
                                    class="attachment-full size-full"
                                    alt="PBXdom"
                                    loading="lazy"
                                    sizes="(max-width: 310px) 100vw, 310px"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-6283934"
                        data-id="6283934"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-f9c4ef5 elementor-widget elementor-widget-heading"
                              data-id="f9c4ef5"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                            >
                              <div class="elementor-widget-container">
                                <h5
                                  class="elementor-heading-title elementor-size-default"
                                >
                                  PBXDom
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5ec0678"
                        data-id="5ec0678"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-afed9c1 elementor-widget elementor-widget-image"
                              data-id="afed9c1"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <a
                                    href="https://itunes.apple.com/us/app/pbxdom-call-accounting/id1360237703?ls=1&amp;mt=8"
                                    target="_blank"
                                  >
                                    <img
                                      src="/wp-content/uploads/2020/09/googleplay.svg"
                                      class="attachment-full size-full"
                                      alt="itunes pbxdom app"
                                      loading="lazy"
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f77ea80"
                        data-id="f77ea80"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-f13dfb5 elementor-widget elementor-widget-image"
                              data-id="f13dfb5"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <a
                                    href="https://play.google.com/store/apps/details?id=com.pbxdom.app"
                                    target="_blank"
                                  >
                                    <img
                                      src="/wp-content/uploads/2020/09/appstore.svg"
                                      class="attachment-full size-full"
                                      alt="googlePlay pbxdom app"
                                      loading="lazy"
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-c52169b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="c52169b"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-f90e78d"
            data-id="f90e78d"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-1d3eb9a e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
                  data-id="1d3eb9a"
                  data-element_type="widget"
                  data-widget_type="social-icons.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-social-icons-wrapper elementor-grid">
                      <span class="elementor-grid-item">
                        <a
                          class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-shrink elementor-repeater-item-687b552"
                          href="https://www.facebook.com/pbxdom"
                          target="_blank"
                        >
                          <span class="elementor-screen-only">Facebook</span>
                          <i class="fab fa-facebook"></i>
                        </a>
                      </span>
                      <span class="elementor-grid-item">
                        <a
                          class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-shrink elementor-repeater-item-dee5755"
                          href="https://twitter.com/pbxdom"
                          target="_blank"
                        >
                          <span class="elementor-screen-only">Twitter</span>
                          <i class="fab fa-twitter"></i>
                        </a>
                      </span>
                      <span class="elementor-grid-item">
                        <a
                          class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-shrink elementor-repeater-item-bd6c2f3"
                          href="https://instagram.com/pbxdom/"
                          target="_blank"
                        >
                          <span class="elementor-screen-only">Instagram</span>
                          <i class="fab fa-instagram"></i>
                        </a>
                      </span>
                      <span class="elementor-grid-item">
                        <a
                          class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-shrink elementor-repeater-item-09efeb7"
                          href="https://www.youtube.com/c/Pbxdom"
                          target="_blank"
                        >
                          <span class="elementor-screen-only">Youtube</span>
                          <i class="fab fa-youtube"></i>
                        </a>
                      </span>
                      <span class="elementor-grid-item">
                        <a
                          class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-shrink elementor-repeater-item-bf3092b"
                          href="https://www.linkedin.com/company/pbxdom"
                          target="_blank"
                        >
                          <span class="elementor-screen-only">Linkedin</span>
                          <i class="fab fa-linkedin"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-c56c55f"
            data-id="c56c55f"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-8eae7b0 elementor-widget elementor-widget-heading"
                  data-id="8eae7b0"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h3 class="elementor-heading-title elementor-size-default">
                      Product
                    </h3>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-1ad266e elementor-nav-menu--dropdown-none elementor-widget elementor-widget-nav-menu"
                  data-id="1ad266e"
                  data-element_type="widget"
                  data-settings='{"layout":"vertical","submenu_icon":{"value":"<i class=\"fas fa-caret-down\"><\/i>","library":"fa-solid"}}'
                  data-widget_type="nav-menu.default"
                >
                  <div class="elementor-widget-container">
                    <nav
                      migration_allowed="1"
                      migrated="0"
                      role="navigation"
                      class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-fade"
                    >
                      <ul
                        id="menu-1-1ad266e"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="1684218921910477"
                      >
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8129"
                        >
                          <a
                            href="/call-analytics-monitoring/"
                            class="elementor-item"
                            >Call Analytics &amp; Monitoring</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8130"
                        >
                          <a href="/emergency-911-alert/" class="elementor-item"
                            >Emergency 911 &amp; Alert</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8131"
                        >
                          <a
                            href="/telecom-expense-call-accounting-software/"
                            class="elementor-item"
                            >Telecom Expenses &amp; Call Accounting Software</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8132"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/"
                            class="elementor-item"
                            >PBX/UC Systems Integrations</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8438"
                        >
                          <a href="/pricing/" class="elementor-item">Pricing</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8437"
                        >
                          <a href="/app-integrations/" class="elementor-item"
                            >Application Integrations</a
                          >
                        </li>
                      </ul>
                    </nav>
                    <div
                      class="elementor-menu-toggle"
                      role="button"
                      tabindex="0"
                      aria-label="Menu Toggle"
                      aria-expanded="false"
                    >
                      <i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--open eicon-menu-bar"
                      ></i
                      ><i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--close eicon-close"
                      ></i>
                      <span class="elementor-screen-only">Menu</span>
                    </div>
                    <nav
                      class="elementor-nav-menu--dropdown elementor-nav-menu__container"
                      role="navigation"
                      aria-hidden="true"
                    >
                      <ul
                        id="menu-2-1ad266e"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="16842189219131343"
                      >
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8129"
                        >
                          <a
                            href="/call-analytics-monitoring/"
                            class="elementor-item"
                            tabindex="-1"
                            >Call Analytics &amp; Monitoring</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8130"
                        >
                          <a
                            href="/emergency-911-alert/"
                            class="elementor-item"
                            tabindex="-1"
                            >Emergency 911 &amp; Alert</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8131"
                        >
                          <a
                            href="/telecom-expense-call-accounting-software/"
                            class="elementor-item"
                            tabindex="-1"
                            >Telecom Expenses &amp; Call Accounting Software</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8132"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/"
                            class="elementor-item"
                            tabindex="-1"
                            >PBX/UC Systems Integrations</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8438"
                        >
                          <a
                            href="/pricing/"
                            class="elementor-item"
                            tabindex="-1"
                            >Pricing</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8437"
                        >
                          <a
                            href="/app-integrations/"
                            class="elementor-item"
                            tabindex="-1"
                            >Application Integrations</a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-7160229"
            data-id="7160229"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-4f2d685 elementor-widget elementor-widget-heading"
                  data-id="4f2d685"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h4 class="elementor-heading-title elementor-size-default">
                      Solution
                    </h4>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-fe48b2e elementor-nav-menu--dropdown-none elementor-widget elementor-widget-nav-menu"
                  data-id="fe48b2e"
                  data-element_type="widget"
                  data-settings='{"layout":"vertical","submenu_icon":{"value":"<i class=\"fas fa-caret-down\"><\/i>","library":"fa-solid"}}'
                  data-widget_type="nav-menu.default"
                >
                  <div class="elementor-widget-container">
                    <nav
                      migration_allowed="1"
                      migrated="0"
                      role="navigation"
                      class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-fade"
                    >
                      <ul
                        id="menu-1-fe48b2e"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="16842189219154429"
                      >
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-555"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/cisco/"
                            class="elementor-item"
                            >Cisco</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-556"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/avaya/"
                            class="elementor-item"
                            >Avaya</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-557"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/mitel/"
                            class="elementor-item"
                            >Mitel</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-558"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/asterisk/"
                            class="elementor-item"
                            >Asterisk</a
                          >
                        </li>
                      </ul>
                    </nav>
                    <div
                      class="elementor-menu-toggle"
                      role="button"
                      tabindex="0"
                      aria-label="Menu Toggle"
                      aria-expanded="false"
                    >
                      <i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--open eicon-menu-bar"
                      ></i
                      ><i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--close eicon-close"
                      ></i>
                      <span class="elementor-screen-only">Menu</span>
                    </div>
                    <nav
                      class="elementor-nav-menu--dropdown elementor-nav-menu__container"
                      role="navigation"
                      aria-hidden="true"
                    >
                      <ul
                        id="menu-2-fe48b2e"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="16842189219151323"
                      >
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-555"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/cisco/"
                            class="elementor-item"
                            tabindex="-1"
                            >Cisco</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-556"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/avaya/"
                            class="elementor-item"
                            tabindex="-1"
                            >Avaya</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-557"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/mitel/"
                            class="elementor-item"
                            tabindex="-1"
                            >Mitel</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-558"
                        >
                          <a
                            href="/integrations-pbx-uc-systems/asterisk/"
                            class="elementor-item"
                            tabindex="-1"
                            >Asterisk</a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-f9107e9"
            data-id="f9107e9"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-36ca73d elementor-widget elementor-widget-heading"
                  data-id="36ca73d"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h4 class="elementor-heading-title elementor-size-default">
                      Resources
                    </h4>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-5bc1ed9 elementor-nav-menu--dropdown-none elementor-widget elementor-widget-nav-menu"
                  data-id="5bc1ed9"
                  data-element_type="widget"
                  data-settings='{"layout":"vertical","submenu_icon":{"value":"<i class=\"fas fa-caret-down\"><\/i>","library":"fa-solid"}}'
                  data-widget_type="nav-menu.default"
                >
                  <div class="elementor-widget-container">
                    <nav
                      migration_allowed="1"
                      migrated="0"
                      role="navigation"
                      class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-fade"
                    >
                      <ul
                        id="menu-1-5bc1ed9"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="16842189219175537"
                      >
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8090"
                        >
                          <a href="/blog/" class="elementor-item">Blog</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9712"
                        >
                          <a href="/academy/" class="elementor-item">Academy</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9970"
                        >
                          <a href="/help-center/" class="elementor-item"
                            >Help Center</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10006"
                        >
                          <a href="/podcasts/" class="elementor-item"
                            >Podcasts</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8435"
                        >
                          <a href="/online-tools/" class="elementor-item"
                            >Online Tools</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9926"
                        >
                          <a href="/download/" class="elementor-item"
                            >Download</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-564"
                        >
                          <a
                            href="https://status.pbxdom.com/"
                            class="elementor-item"
                            >Service Status</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9945"
                        >
                          <a href="/developers/" class="elementor-item"
                            >Developers</a
                          >
                        </li>
                      </ul>
                    </nav>
                    <div
                      class="elementor-menu-toggle"
                      role="button"
                      tabindex="0"
                      aria-label="Menu Toggle"
                      aria-expanded="false"
                    >
                      <i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--open eicon-menu-bar"
                      ></i
                      ><i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--close eicon-close"
                      ></i>
                      <span class="elementor-screen-only">Menu</span>
                    </div>
                    <nav
                      class="elementor-nav-menu--dropdown elementor-nav-menu__container"
                      role="navigation"
                      aria-hidden="true"
                    >
                      <ul
                        id="menu-2-5bc1ed9"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="16842189219173328"
                      >
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8090"
                        >
                          <a href="/blog/" class="elementor-item" tabindex="-1"
                            >Blog</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9712"
                        >
                          <a
                            href="/academy/"
                            class="elementor-item"
                            tabindex="-1"
                            >Academy</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9970"
                        >
                          <a
                            href="/help-center/"
                            class="elementor-item"
                            tabindex="-1"
                            >Help Center</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10006"
                        >
                          <a
                            href="/podcasts/"
                            class="elementor-item"
                            tabindex="-1"
                            >Podcasts</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8435"
                        >
                          <a
                            href="/online-tools/"
                            class="elementor-item"
                            tabindex="-1"
                            >Online Tools</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9926"
                        >
                          <a
                            href="/download/"
                            class="elementor-item"
                            tabindex="-1"
                            >Download</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-564"
                        >
                          <a
                            href="https://status.pbxdom.com/"
                            class="elementor-item"
                            tabindex="-1"
                            >Service Status</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9945"
                        >
                          <a
                            href="/developers/"
                            class="elementor-item"
                            tabindex="-1"
                            >Developers</a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-8651541"
            data-id="8651541"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-de6e878 elementor-widget elementor-widget-heading"
                  data-id="de6e878"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h4 class="elementor-heading-title elementor-size-default">
                      Company
                    </h4>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-6465c1b elementor-nav-menu--dropdown-none elementor-widget elementor-widget-nav-menu"
                  data-id="6465c1b"
                  data-element_type="widget"
                  data-settings='{"layout":"vertical","submenu_icon":{"value":"<i class=\"fas fa-caret-down\"><\/i>","library":"fa-solid"}}'
                  data-widget_type="nav-menu.default"
                >
                  <div class="elementor-widget-container">
                    <nav
                      migration_allowed="1"
                      migrated="0"
                      role="navigation"
                      class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-fade"
                    >
                      <ul
                        id="menu-1-6465c1b"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="16842189219186123"
                      >
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7779"
                        >
                          <a href="/about-us/" class="elementor-item">About</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8427"
                        >
                          <a href="/trust/" class="elementor-item">Trust</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8431"
                        >
                          <a href="/become-partner/" class="elementor-item"
                            >Partners/Reseller</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8430"
                        >
                          <a
                            href="/pbxdom-for-nonprofits/"
                            class="elementor-item"
                            >Non-Profit</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10169"
                        >
                          <a href="/job/" class="elementor-item">Jobs</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8428"
                        >
                          <a href="/gdpr/" class="elementor-item">GDPR</a>
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8439"
                        >
                          <a href="/privacy-policy/" class="elementor-item"
                            >Privacy Policy</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8440"
                        >
                          <a href="/term-of-service/" class="elementor-item"
                            >Term of Service</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9916"
                        >
                          <a href="/logos-press-kit/" class="elementor-item"
                            >Logos &amp; Press Kit</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8429"
                        >
                          <a href="/submit-your-rfp/" class="elementor-item"
                            >Submit RFP</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8599"
                        >
                          <a href="/contact/" class="elementor-item">Contact</a>
                        </li>
                      </ul>
                    </nav>
                    <div
                      class="elementor-menu-toggle"
                      role="button"
                      tabindex="0"
                      aria-label="Menu Toggle"
                      aria-expanded="false"
                    >
                      <i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--open eicon-menu-bar"
                      ></i
                      ><i
                        aria-hidden="true"
                        role="presentation"
                        class="elementor-menu-toggle__icon--close eicon-close"
                      ></i>
                      <span class="elementor-screen-only">Menu</span>
                    </div>
                    <nav
                      class="elementor-nav-menu--dropdown elementor-nav-menu__container"
                      role="navigation"
                      aria-hidden="true"
                    >
                      <ul
                        id="menu-2-6465c1b"
                        class="elementor-nav-menu sm-vertical"
                        data-smartmenus-id="16842189219191743"
                      >
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7779"
                        >
                          <a
                            href="/about-us/"
                            class="elementor-item"
                            tabindex="-1"
                            >About</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8427"
                        >
                          <a href="/trust/" class="elementor-item" tabindex="-1"
                            >Trust</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8431"
                        >
                          <a
                            href="/become-partner/"
                            class="elementor-item"
                            tabindex="-1"
                            >Partners/Reseller</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8430"
                        >
                          <a
                            href="/pbxdom-for-nonprofits/"
                            class="elementor-item"
                            tabindex="-1"
                            >Non-Profit</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10169"
                        >
                          <a href="/job/" class="elementor-item" tabindex="-1"
                            >Jobs</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8428"
                        >
                          <a href="/gdpr/" class="elementor-item" tabindex="-1"
                            >GDPR</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8439"
                        >
                          <a
                            href="/privacy-policy/"
                            class="elementor-item"
                            tabindex="-1"
                            >Privacy Policy</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8440"
                        >
                          <a
                            href="/term-of-service/"
                            class="elementor-item"
                            tabindex="-1"
                            >Term of Service</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9916"
                        >
                          <a
                            href="/logos-press-kit/"
                            class="elementor-item"
                            tabindex="-1"
                            >Logos &amp; Press Kit</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8429"
                        >
                          <a
                            href="/submit-your-rfp/"
                            class="elementor-item"
                            tabindex="-1"
                            >Submit RFP</a
                          >
                        </li>
                        <li
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8599"
                        >
                          <a
                            href="/contact/"
                            class="elementor-item"
                            tabindex="-1"
                            >Contact</a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-dc3618e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="dc3618e"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-85f18d8"
            data-id="85f18d8"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-8b7abba elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="8b7abba"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-6d71fc7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="6d71fc7"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-76541e0"
            data-id="76541e0"
            data-element_type="column"
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-3e2f596 elementor-widget elementor-widget-heading"
                  data-id="3e2f596"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h6 class="elementor-heading-title elementor-size-default">
                      <span
                        style="
                          color: rgb(121, 128, 153);
                          font-family: Roboto, sans-serif;
                          font-weight: 400;
                          white-space: normal;
                        "
                        >©PBXDom LLC. All rights reserved</span
                      >
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
