{{/*  <script src="https://www.googletagmanager.com/gtag/js?id=G-733BPBG70J&l=dataLayer&cx=c"></script>
<script src="https://widget.intercom.io/widget/flnf0zsw"></script>
<script src="https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script>
<script
  src="https://connect.facebook.net/signals/config/151636385200512?v=2.9.104&amp;r=stable"
  async=""
></script>
<script async="" src="//connect.facebook.net/en_US/fbevents.js"></script>
<script
  type="text/javascript"
  async=""
  src="https://static.ads-twitter.com/uwt.js"
></script>
<script
  async=""
  src="https://www.googletagmanager.com/gtm.js?id=GTM-TVBV5W"
></script>
<script
  type="text/javascript"
  async=""
  src="https://www.googletagmanager.com/gtag/js?id=G-733BPBG70J&amp;l=dataLayer&amp;cx=c"
></script>
<script
  type="text/javascript"
  async=""
  src="https://www.google-analytics.com/analytics.js"
></script>
<script
  async=""
  src="https://www.googletagmanager.com/gtm.js?id=GTM-TVBV5W"
></script>  */}}


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate.min.js"></script>
<script src="/js/flatpickr.min.js"></script>
<script src="/js/select2.min.js"></script>
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-TVBV5W");
</script>
<!-- Google Tag Manager -->
<script>
  /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
  (function (w) {
    "use strict";
    if (!w.loadCSS) {
      w.loadCSS = function () {};
    }
    var rp = (loadCSS.relpreload = {});
    rp.support = (function () {
      var ret;
      try {
        ret = w.document.createElement("link").relList.supports("preload");
      } catch (e) {
        ret = !1;
      }
      return function () {
        return ret;
      };
    })();
    rp.bindMediaToggle = function (link) {
      var finalMedia = link.media || "all";
      function enableStylesheet() {
        link.media = finalMedia;
      }
      if (link.addEventListener) {
        link.addEventListener("load", enableStylesheet);
      } else if (link.attachEvent) {
        link.attachEvent("onload", enableStylesheet);
      }
      setTimeout(function () {
        link.rel = "stylesheet";
        link.media = "only x";
      });
      setTimeout(enableStylesheet, 3000);
    };
    rp.poly = function () {
      if (rp.support()) {
        return;
      }
      var links = w.document.getElementsByTagName("link");
      for (var i = 0; i < links.length; i++) {
        var link = links[i];
        if (
          link.rel === "preload" &&
          link.getAttribute("as") === "style" &&
          !link.getAttribute("data-loadcss")
        ) {
          link.setAttribute("data-loadcss", !0);
          rp.bindMediaToggle(link);
        }
      }
    };
    if (!rp.support()) {
      rp.poly();
      var run = w.setInterval(rp.poly, 500);
      if (w.addEventListener) {
        w.addEventListener("load", function () {
          rp.poly();
          w.clearInterval(run);
        });
      } else if (w.attachEvent) {
        w.attachEvent("onload", function () {
          rp.poly();
          w.clearInterval(run);
        });
      }
    }
    if (typeof exports !== "undefined") {
      exports.loadCSS = loadCSS;
    } else {
      w.loadCSS = loadCSS;
    }
  })(typeof global !== "undefined" ? global : this);
</script>
<script type="text/javascript" id="ppress-frontend-script-js-extra">
  /* <![CDATA[ */
  var pp_ajax_form = {
    ajaxurl: "https:\/\/www.pbxdom.com\/wp-admin\/admin-ajax.php",
    confirm_delete: "Are you sure?",
    deleting_text: "Deleting...",
    deleting_error: "An error occurred. Please try again.",
    nonce: "025f66091a",
    disable_ajax_form: "false",
  };
  /* ]]> */
</script>
<script src="/js/frontend.min.js"></script>

<script type="text/javascript" id="rocket-browser-checker-js-after">
  "use strict";
  var _createClass = (function () {
    function defineProperties(target, props) {
      for (var i = 0; i < props.length; i++) {
        var descriptor = props[i];
        (descriptor.enumerable = descriptor.enumerable || !1),
          (descriptor.configurable = !0),
          "value" in descriptor && (descriptor.writable = !0),
          Object.defineProperty(target, descriptor.key, descriptor);
      }
    }
    return function (Constructor, protoProps, staticProps) {
      return (
        protoProps && defineProperties(Constructor.prototype, protoProps),
        staticProps && defineProperties(Constructor, staticProps),
        Constructor
      );
    };
  })();
  function _classCallCheck(instance, Constructor) {
    if (!(instance instanceof Constructor))
      throw new TypeError("Cannot call a class as a function");
  }
  var RocketBrowserCompatibilityChecker = (function () {
    function RocketBrowserCompatibilityChecker(options) {
      _classCallCheck(this, RocketBrowserCompatibilityChecker),
        (this.passiveSupported = !1),
        this._checkPassiveOption(this),
        (this.options = !!this.passiveSupported && options);
    }
    return (
      _createClass(RocketBrowserCompatibilityChecker, [
        {
          key: "_checkPassiveOption",
          value: function (self) {
            try {
              var options = {
                get passive() {
                  return !(self.passiveSupported = !0);
                },
              };
              window.addEventListener("test", null, options),
                window.removeEventListener("test", null, options);
            } catch (err) {
              self.passiveSupported = !1;
            }
          },
        },
        {
          key: "initRequestIdleCallback",
          value: function () {
            !1 in window &&
              (window.requestIdleCallback = function (cb) {
                var start = Date.now();
                return setTimeout(function () {
                  cb({
                    didTimeout: !1,
                    timeRemaining: function () {
                      return Math.max(0, 50 - (Date.now() - start));
                    },
                  });
                }, 1);
              }),
              !1 in window &&
                (window.cancelIdleCallback = function (id) {
                  return clearTimeout(id);
                });
          },
        },
        {
          key: "isDataSaverModeOn",
          value: function () {
            return (
              "connection" in navigator && !0 === navigator.connection.saveData
            );
          },
        },
        {
          key: "supportsLinkPrefetch",
          value: function () {
            var elem = document.createElement("link");
            return (
              elem.relList &&
              elem.relList.supports &&
              elem.relList.supports("prefetch") &&
              window.IntersectionObserver &&
              "isIntersecting" in IntersectionObserverEntry.prototype
            );
          },
        },
        {
          key: "isSlowConnection",
          value: function () {
            return (
              "connection" in navigator &&
              "effectiveType" in navigator.connection &&
              ("2g" === navigator.connection.effectiveType ||
                "slow-2g" === navigator.connection.effectiveType)
            );
          },
        },
      ]),
      RocketBrowserCompatibilityChecker
    );
  })();
</script>
<script type="text/javascript" id="rocket-preload-links-js-extra">
  /* <![CDATA[ */
  var RocketPreloadLinksConfig = {
    excludeUris:
      "\/(.+\/)?feed\/?.+\/?|\/(?:.+\/)?embed\/|\/(index\\.php\/)?wp\\-json(\/.*|$)|\/wp-admin\/|\/logout\/|\/wp-login.php",
    usesTrailingSlash: "1",
    imageExt: "jpg|jpeg|gif|png|tiff|bmp|webp|avif",
    fileExt: "jpg|jpeg|gif|png|tiff|bmp|webp|avif|php|pdf|html|htm",
    siteUrl: "https:\/\/www.pbxdom.com",
    onHoverDelay: "100",
    rateThrottle: "3",
  };
  /* ]]> */
</script>
<script type="text/javascript" id="rocket-preload-links-js-after">
  (function () {
    "use strict";
    var r =
        "function" == typeof Symbol && "symbol" == typeof Symbol.iterator
          ? function (e) {
              return typeof e;
            }
          : function (e) {
              return e &&
                "function" == typeof Symbol &&
                e.constructor === Symbol &&
                e !== Symbol.prototype
                ? "symbol"
                : typeof e;
            },
      e = (function () {
        function i(e, t) {
          for (var n = 0; n < t.length; n++) {
            var i = t[n];
            (i.enumerable = i.enumerable || !1),
              (i.configurable = !0),
              "value" in i && (i.writable = !0),
              Object.defineProperty(e, i.key, i);
          }
        }
        return function (e, t, n) {
          return t && i(e.prototype, t), n && i(e, n), e;
        };
      })();
    function i(e, t) {
      if (!(e instanceof t))
        throw new TypeError("Cannot call a class as a function");
    }
    var t = (function () {
      function n(e, t) {
        i(this, n),
          (this.browser = e),
          (this.config = t),
          (this.options = this.browser.options),
          (this.prefetched = new Set()),
          (this.eventTime = null),
          (this.threshold = 1111),
          (this.numOnHover = 0);
      }
      return (
        e(
          n,
          [
            {
              key: "init",
              value: function () {
                !this.browser.supportsLinkPrefetch() ||
                  this.browser.isDataSaverModeOn() ||
                  this.browser.isSlowConnection() ||
                  ((this.regex = {
                    excludeUris: RegExp(this.config.excludeUris, "i"),
                    images: RegExp(".(" + this.config.imageExt + ")$", "i"),
                    fileExt: RegExp(".(" + this.config.fileExt + ")$", "i"),
                  }),
                  this._initListeners(this));
              },
            },
            {
              key: "_initListeners",
              value: function (e) {
                -1 < this.config.onHoverDelay &&
                  document.addEventListener(
                    "mouseover",
                    e.listener.bind(e),
                    e.listenerOptions
                  ),
                  document.addEventListener(
                    "mousedown",
                    e.listener.bind(e),
                    e.listenerOptions
                  ),
                  document.addEventListener(
                    "touchstart",
                    e.listener.bind(e),
                    e.listenerOptions
                  );
              },
            },
            {
              key: "listener",
              value: function (e) {
                var t = e.target.closest("a"),
                  n = this._prepareUrl(t);
                if (null !== n)
                  switch (e.type) {
                    case "mousedown":
                    case "touchstart":
                      this._addPrefetchLink(n);
                      break;
                    case "mouseover":
                      this._earlyPrefetch(t, n, "mouseout");
                  }
              },
            },
            {
              key: "_earlyPrefetch",
              value: function (t, e, n) {
                var i = this,
                  r = setTimeout(function () {
                    if (((r = null), 0 === i.numOnHover))
                      setTimeout(function () {
                        return (i.numOnHover = 0);
                      }, 1e3);
                    else if (i.numOnHover > i.config.rateThrottle) return;
                    i.numOnHover++, i._addPrefetchLink(e);
                  }, this.config.onHoverDelay);
                t.addEventListener(
                  n,
                  function e() {
                    t.removeEventListener(n, e, { passive: !0 }),
                      null !== r && (clearTimeout(r), (r = null));
                  },
                  { passive: !0 }
                );
              },
            },
            {
              key: "_addPrefetchLink",
              value: function (i) {
                return (
                  this.prefetched.add(i.href),
                  new Promise(function (e, t) {
                    var n = document.createElement("link");
                    (n.rel = "prefetch"),
                      (n.href = i.href),
                      (n.onload = e),
                      (n.onerror = t),
                      document.head.appendChild(n);
                  }).catch(function () {})
                );
              },
            },
            {
              key: "_prepareUrl",
              value: function (e) {
                if (
                  null === e ||
                  "object" !== (void 0 === e ? "undefined" : r(e)) ||
                  !1 in e ||
                  -1 === ["http:", "https:"].indexOf(e.protocol)
                )
                  return null;
                var t = e.href.substring(0, this.config.siteUrl.length),
                  n = this._getPathname(e.href, t),
                  i = {
                    original: e.href,
                    protocol: e.protocol,
                    origin: t,
                    pathname: n,
                    href: t + n,
                  };
                return this._isLinkOk(i) ? i : null;
              },
            },
            {
              key: "_getPathname",
              value: function (e, t) {
                var n = t ? e.substring(this.config.siteUrl.length) : e;
                return (
                  n.startsWith("/") || (n = "/" + n),
                  this._shouldAddTrailingSlash(n) ? n + "/" : n
                );
              },
            },
            {
              key: "_shouldAddTrailingSlash",
              value: function (e) {
                return (
                  this.config.usesTrailingSlash &&
                  !e.endsWith("/") &&
                  !this.regex.fileExt.test(e)
                );
              },
            },
            {
              key: "_isLinkOk",
              value: function (e) {
                return (
                  null !== e &&
                  "object" === (void 0 === e ? "undefined" : r(e)) &&
                  !this.prefetched.has(e.href) &&
                  e.origin === this.config.siteUrl &&
                  -1 === e.href.indexOf("?") &&
                  -1 === e.href.indexOf("#") &&
                  !this.regex.excludeUris.test(e.href) &&
                  !this.regex.images.test(e.href)
                );
              },
            },
          ],
          [
            {
              key: "run",
              value: function () {
                "undefined" != typeof RocketPreloadLinksConfig &&
                  new n(
                    new RocketBrowserCompatibilityChecker({
                      capture: !0,
                      passive: !0,
                    }),
                    RocketPreloadLinksConfig
                  ).init();
              },
            },
          ]
        ),
        n
      );
    })();
    t.run();
  })();
</script>
<script src="/js/enlighterjs.min.js"></script>
<script type="text/javascript" id="enlighterjs-js-after">
  !(function (e, n) {
    if ("undefined" != typeof EnlighterJS) {
      var o = {
        selectors: {
          block: "pre.EnlighterJSRAW",
          inline: "code.EnlighterJSRAW",
        },
        options: {
          indent: 4,
          ampersandCleanup: true,
          linehover: true,
          rawcodeDbclick: false,
          textOverflow: "break",
          linenumbers: true,
          theme: "enlighter",
          language: "generic",
          retainCssClasses: false,
          collapse: false,
          toolbarOuter: "",
          toolbarTop: "{BTN_RAW}{BTN_COPY}{BTN_WINDOW}{BTN_WEBSITE}",
          toolbarBottom: "",
        },
      };
      (e.EnlighterJSINIT = function () {
        EnlighterJS.init(o.selectors.block, o.selectors.inline, o.options);
      })();
    } else {
      ((n && (n.error || n.log)) || function () {})(
        "Error: EnlighterJS resources not loaded yet!"
      );
    }
  })(window, console);
</script>
<script src="/js/uael-nav-menu.min.js"></script>
<script src="/js/jquery_resize.min.js"></script>
<script src="/js/js_cookie.min.js"></script>
<script src="/js/lottie.min.js"></script>
<script src="/js/core.min.js"></script>
<script src="/js/mouse.min.js"></script>
<script src="/js/draggable.min.js"></script>
<script type="text/javascript" id="premium-addons-js-extra">
  /* <![CDATA[ */
  var PremiumSettings = {
    ajaxurl: "https:\/\/www.pbxdom.com\/wp-admin\/admin-ajax.php",
    nonce: "01125c7132",
  };
  /* ]]> */
</script>
<script src="/js/premium-addons.min.js"></script>
<script src="/js/uael-frontend.min.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" id="wpsr_main_js-js-extra">
  /* <![CDATA[ */
  var wp_socializer = {
    ajax_url: "https:\/\/www.pbxdom.com\/wp-admin\/admin-ajax.php",
  };
  /* ]]> */
</script>
<script src="/js/wp-socializer.min.js"></script>
<script src="/js/webpack-pro.runtime.min.js"></script>
<script src="/js/webpack.runtime.min.js"></script>
<script src="/js/frontend-modules.min.js"></script>

<script type="text/javascript" id="elementor-pro-frontend-js-before">
  var ElementorProFrontendConfig = {
    ajaxurl: "https:\/\/www.pbxdom.com\/wp-admin\/admin-ajax.php",
    nonce: "14f1bd1ad4",
    urls: {
      assets:
        "https:\/\/www.pbxdom.com\/wp-content\/plugins\/elementor-pro\/assets\/",
      rest: "https:\/\/www.pbxdom.com\/wp-json\/",
    },
    i18n: { toc_no_headings_found: "No headings were found on this page." },
    shareButtonsNetworks: {
      facebook: { title: "Facebook", has_counter: true },
      twitter: { title: "Twitter" },
      linkedin: { title: "LinkedIn", has_counter: true },
      pinterest: { title: "Pinterest", has_counter: true },
      reddit: { title: "Reddit", has_counter: true },
      vk: { title: "VK", has_counter: true },
      odnoklassniki: { title: "OK", has_counter: true },
      tumblr: { title: "Tumblr" },
      digg: { title: "Digg" },
      skype: { title: "Skype" },
      stumbleupon: { title: "StumbleUpon", has_counter: true },
      mix: { title: "Mix" },
      telegram: { title: "Telegram" },
      pocket: { title: "Pocket", has_counter: true },
      xing: { title: "XING", has_counter: true },
      whatsapp: { title: "WhatsApp" },
      email: { title: "Email" },
      print: { title: "Print" },
    },
    facebook_sdk: { lang: "en_US", app_id: "" },
    lottie: {
      defaultAnimationUrl:
        "https:\/\/www.pbxdom.com\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json",
    },
  };
</script>
<script src="/js/frontend.min.1.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/share-link.min.js"></script>
<script src="/js/dialog.min.js"></script>

<script type="text/javascript" id="elementor-frontend-js-extra">
  /* <![CDATA[ */
  var uael_particles_script = {
    uael_particles_url:
      "https:\/\/www.pbxdom.com\/wp-content\/plugins\/ultimate-elementor\/assets\/min-js\/uael-particles.min.js",
    particles_url:
      "https:\/\/www.pbxdom.com\/wp-content\/plugins\/ultimate-elementor\/assets\/lib\/particles\/particles.min.js",
  };
  var PaModulesSettings = {
    equalHeight_url:
      "https:\/\/www.pbxdom.com\/wp-content\/plugins\/premium-addons-for-elementor\/assets\/frontend\/min-js\/premium-eq-height.min.js",
  };
  /* ]]> */
</script>
<script type="text/javascript" id="elementor-frontend-js-before">
  var elementorFrontendConfig = {
    environmentMode: { edit: false, wpPreview: false, isScriptDebug: false },
    i18n: {
      shareOnFacebook: "Share on Facebook",
      shareOnTwitter: "Share on Twitter",
      pinIt: "Pin it",
      download: "Download",
      downloadImage: "Download image",
      fullscreen: "Fullscreen",
      zoom: "Zoom",
      share: "Share",
      playVideo: "Play Video",
      previous: "Previous",
      next: "Next",
      close: "Close",
    },
    is_rtl: false,
    breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
    responsive: {
      breakpoints: {
        mobile: {
          label: "Mobile",
          value: 767,
          default_value: 767,
          direction: "max",
          is_enabled: true,
        },
        mobile_extra: {
          label: "Mobile Extra",
          value: 880,
          default_value: 880,
          direction: "max",
          is_enabled: false,
        },
        tablet: {
          label: "Tablet",
          value: 1024,
          default_value: 1024,
          direction: "max",
          is_enabled: true,
        },
        tablet_extra: {
          label: "Tablet Extra",
          value: 1200,
          default_value: 1200,
          direction: "max",
          is_enabled: false,
        },
        laptop: {
          label: "Laptop",
          value: 1366,
          default_value: 1366,
          direction: "max",
          is_enabled: false,
        },
        widescreen: {
          label: "Widescreen",
          value: 2400,
          default_value: 2400,
          direction: "min",
          is_enabled: false,
        },
      },
    },
    version: "3.4.8",
    is_static: false,
    experimentalFeatures: {
      e_import_export: true,
      theme_builder_v2: true,
      "landing-pages": true,
      "elements-color-picker": true,
      "admin-top-bar": true,
      "form-submissions": true,
    },
    urls: {
      assets:
        "https:\/\/www.pbxdom.com\/wp-content\/plugins\/elementor\/assets\/",
    },
    settings: { page: [], editorPreferences: [] },
    kit: {
      active_breakpoints: ["viewport_mobile", "viewport_tablet"],
      global_image_lightbox: "yes",
      lightbox_enable_counter: "yes",
      lightbox_enable_fullscreen: "yes",
      lightbox_enable_zoom: "yes",
      lightbox_enable_share: "yes",
      lightbox_title_src: "title",
      lightbox_description_src: "description",
    },
    post: { id: 11, title: "PBXDom", excerpt: "", featuredImage: false },
  };
</script>
<script src="/js/frontend.min.2.js"></script>
<script type="text/javascript" id="elementor-frontend-js-after">
  window.scopes_array = {};
  window.backend = 0;
  jQuery(window).on("elementor/frontend/init", function () {
    elementorFrontend.hooks.addAction(
      "frontend/element_ready/section",
      function ($scope, $) {
        if ("undefined" == typeof $scope) {
          return;
        }
        if ($scope.hasClass("premium-equal-height-yes")) {
          var id = $scope.data("id");
          window.scopes_array[id] = $scope;
        }
        if (elementorFrontend.isEditMode()) {
          var url = PaModulesSettings.equalHeight_url;
          jQuery.cachedAssets = function (url, options) {
            // Allow user to set any option except for dataType, cache, and url.
            options = jQuery.extend(options || {}, {
              dataType: "script",
              cache: true,
              url: url,
            });
            // Return the jqXHR object so we can chain callbacks.
            return jQuery.ajax(options);
          };
          jQuery.cachedAssets(url);
          window.backend = 1;
        }
      }
    );
  });
  jQuery(document).ready(function () {
    if (jQuery.find(".premium-equal-height-yes").length < 1) {
      return;
    }

    var url = PaModulesSettings.equalHeight_url;

    jQuery.cachedAssets = function (url, options) {
      // Allow user to set any option except for dataType, cache, and url.
      options = jQuery.extend(options || {}, {
        dataType: "script",
        cache: true,
        url: url,
      });

      // Return the jqXHR object so we can chain callbacks.
      return jQuery.ajax(options);
    };
    jQuery.cachedAssets(url);
  });
  window.scope_array = [];
  window.backend = 0;
  jQuery.cachedScript = function (url, options) {
    // Allow user to set any option except for dataType, cache, and url.
    options = jQuery.extend(options || {}, {
      dataType: "script",
      cache: true,
      url: url,
    });
    // Return the jqXHR object so we can chain callbacks.
    return jQuery.ajax(options);
  };
  jQuery(window).on("elementor/frontend/init", function () {
    elementorFrontend.hooks.addAction(
      "frontend/element_ready/global",
      function ($scope, $) {
        if ("undefined" == typeof $scope) {
          return;
        }
        if ($scope.hasClass("uael-particle-yes")) {
          window.scope_array.push($scope);
          $scope.find(".uael-particle-wrapper").addClass("js-is-enabled");
        } else {
          return;
        }
        if (
          elementorFrontend.isEditMode() &&
          $scope.find(".uael-particle-wrapper").hasClass("js-is-enabled") &&
          window.backend == 0
        ) {
          var uael_url = uael_particles_script.uael_particles_url;

          jQuery.cachedScript(uael_url);
          window.backend = 1;
        } else if (elementorFrontend.isEditMode()) {
          var uael_url = uael_particles_script.uael_particles_url;
          jQuery.cachedScript(uael_url).done(function () {
            var flag = true;
          });
        }
      }
    );
  });
  jQuery(document).ready(function () {
    if (jQuery.find(".uael-particle-yes").length < 1) {
      return;
    }
    var uael_url = uael_particles_script.uael_particles_url;
    jQuery.cachedScript = function (url, options) {
      // Allow user to set any option except for dataType, cache, and url.
      options = jQuery.extend(options || {}, {
        dataType: "script",
        cache: true,
        url: url,
      });
      // Return the jqXHR object so we can chain callbacks.
      return jQuery.ajax(options);
    };
    jQuery.cachedScript(uael_url);
  });
</script>
<script src="/js/preloaded-elements-handlers.min.js"></script>
<script src="/js/preloaded-modules.min.js"></script>
<script src="/js/jquery.sticky.min.js"></script>





<script>
  "use strict";
  var wprRemoveCPCSS = function wprRemoveCPCSS() {
    var elem;
    document.querySelector('link[data-rocket-async="style"][rel="preload"]')
      ? setTimeout(wprRemoveCPCSS, 200)
      : (elem = document.getElementById("rocket-critical-css")) &&
        "remove" in elem &&
        elem.remove();
  };
  window.addEventListener
    ? window.addEventListener("load", wprRemoveCPCSS)
    : window.attachEvent && window.attachEvent("onload", wprRemoveCPCSS);
</script>

{{if .Params.customJs}}
{{ range .Params.customJs }}<script src="{{ . }}" ></script>{{ end }}
{{end}}


